.full-container{
    min-height: 100vh;
    min-width: 100vw;
    background: url('src\assets\image1-3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
  
}


h2{
    color:white;
    
}

table{
  width: 95%;
}
  .searchbar button{
    width: 100px;
    height: 50px;
 } 
 .condition{
  color: red;

  font-weight: 600;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchbar{
    width:85%; 
    /* position: absolute; */
    /* margin-left: 250px; */
  
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  
  }

  #searchbar{
    margin-left: 10px;
  }

  #search{
    height: 2.3rem;
    width: 20rem;

    margin-left: 10px;
  }

  #getall{
    width: 25rem;
    height: 2.3rem;

    margin-left: 10px;

  }